.sidebar_container {
	width: 270px;
	position: fixed;
	top: 5.8125rem;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: unset;
	&::-webkit-scrollbar {
		width: 0;
	}
	* {
		font-family: 'Work Sans', sans-serif;
		color: #9ba8c4;
	}
	h2 {
		font-weight: 500;
		font-size: 0.85rem;
		margin-top: 40px;
		margin-left: 30px;
		color: rgba(84, 95, 125, 1);
	}
}
.personal {
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80px;
	li {
		display: flex;
		align-items: center;
		padding: 10px 0;
		padding-left: 30px;
		font-size: 1rem;
		cursor: pointer;
		&:hover {
			background: rgba(155, 168, 196, 0.3);
		}

		.briefcase,
		.homeIcon {
			margin-right: 10px;
			width: 15px;
			img {
				display: block;
			}
		}
		.angledown {
			margin-left: 10px;
		}
	}
}

.customers_section {
	// border: 1px solid red;
	li {
		padding: 10px 0;
		margin: 10px 0;
		display: flex;
		align-items: center;
		padding-left: 30px;
		cursor: pointer;
		font-size: 1rem;
		&:hover {
			background: rgba(155, 168, 196, 0.3);
		}

		.icon {
			margin-right: 10px;
			width: 15px;
			img {
				display: block;
			}
		}
	}
}

.logout {
	border-top: 1px solid #f7f8fa;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	li {
		padding: 15px 0;
		margin: 10px 0;
		display: flex;
		align-items: center;
		padding-left: 30px;
		cursor: pointer;
		font-size: 1rem;
		&:hover {
			background: rgba(155, 168, 196, 0.3);
		}

		.icon {
			margin-right: 10px;
			width: 15px;
			img {
				display: block;
			}
		}
	}
}

.nav_active {
	background: rgba(57, 205, 204, 0.06);
	border-left: 3px solid #39cdcc;
	padding-left: 27px;
}
